.button-blue {
	font-family: "monospace;";
    color: white;
    border: 0;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    background-color: cadetblue;
    transition: background-color 0.5s ease;
}